/* #1. added flex property to main and sub container */
.main .container{
    display: flex;
    flex-direction: column;
}

/* #2. changed main container height to fill viewport */
.main {
    height: 100vh;
}

/* #3. changed size of image file */
img {
    width: 500px;
    height: 250px;
}

/* #4. added flex, aligned items horizontally and spaced them */
.header {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    margin-bottom: 48px;
}

/* #5. did the same for content boxes in .sides */
.sides {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* #6. reduced the with of left box and added wrap attribute */
.sides .lside {
    width:  25%;
    display: flex;
    flex-wrap: wrap;
}

/* #7. added margin/space between the logo and links */
.header p {
    margin-right:  auto; /* Space between the logo and the links */
}

/* #8. added margin/space between the links */
.header a {
    margin-left:  10px; /* Minimal space between links */
    margin-right:  10px; /* Minimal space between links */
}
