/* #1. added flex and vertical properties to sub container */
.main .container{
    display: flex;
    flex-direction: column;
}

.main {
    height: 100vh;
}

img {
    width: 500px;
    height: 250px;
}

/* #2. added flex, aligned items horizontally and spaced them */
.header {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    /* #3. added margin to separate header and other boxes */
    margin-bottom: 48px;
}

/* #4. did the same for content boxes in .sides */
.sides {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* #5. reduced the width of left box and added wrap attribute */
.sides .lside {
    width:  25%;
    display: flex;
    flex-wrap: wrap;
}

/* #6. added margin/space between the logo and links */
.header p {
    margin-right:  auto; 
    font-size: 24px;
}

/* #7. added margin/space between the links */
.header a {
    margin-left:  10px; 
    margin-right:  10px; 
    /* #8. remove link underlines */
    text-decoration: none;
    font-size: 18px;
}

/* #9. most color and font size changes start here */
.container {
    background-color: #1F2937;
    color: white;
}

button {
    background-color: blue;
    color: white;
}

h1 {
    font-size: 48px;
}
.lside p {
    font-size: 18px;
}

/* #10. second container stylings begin here */
.images img {
    width: 150px;
    height: 150px;
}

/* #11. aligned images horizontally at the center */
.images {
    display: flex;
    justify-content: center;
}

/* #12. set gap between items vertically */
.container1 {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

/* #13. moved text to center and spaced it from first container */
.text {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    font-size: 36px;
}

/* 14. added space between the images */
.images .imgbox {
    margin-left: 12px;
    margin-right: 12px;
}

/* #15. ensures text stays underneath the images */
.imgbox img {
    display: block;
}

/* #16. stylings for third container begins here */
.container2 {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    background-color: #E5E7EB;
}

/* #17. ensures each paragraph starts from a new line */
.quote {
    display: block;
    font-size: 36px;
    font-style: italic;
}

/* #18. display block ensures text align works properly */
.thor {
    display: block;
    text-align: right;
    font-size: 28px;
}

/* #19. third container stylings begin here */

/* #20. moved innerbox to center */
.container3 {
    display: flex;
    justify-content: center;
    margin-top: 64px;
}

/* #21. added flex, aligned items horizontally and spaced them */
.innerbox {
    background-color: blue;
    color: white;
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    gap: 128px;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 128px;
    padding-right: 128px;
}